:root {
  --primary-color: #edceab;
  --secondary-color: #800020;

  --primary-font: "Poppins", sans-serif;
  --secondry-font: "Work Sans", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Work+Sans&display=swap");
body {
  background-color: var(--primary-color) !important;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 8px;
}

/* Navbar CSS */

.navbar-color {
  background-color: var(--secondary-color) !important;
}

.navbar img {
  width: 72px;
  height: 68px;
  mix-blend-mode: color-burn;
}

.navbar-title {
  font-size: 32px;
  letter-spacing: 5px;
  color: var(--secondary-color) !important;
  text-decoration: none;
  margin-left: -4rem;
}

.navbar-section {
  margin-left: 4rem;
  box-sizing: border-box;
}

.navbar-elements {
  display: flex;
  text-align: center;
  margin-top: 5px;
  color: var(--primary-color) !important;
  text-decoration: none;
  margin-right: 3rem;
}


.navbar-elements:hover {
  color: var(--primary-color);
}

.navbar-elements:focus {
  color: var(--secondary-color);
}

.navbar-elements h3 {
  font-size: 20px !important;
}

.navbar-btn {
  background-color: var(--btn-color) !important;
  width: 6rem !important;
  color: white !important;
  border-radius: 40px !important;
  margin-left: 1rem !important;
}

.navbar-btn:hover {
  background-color: var(--btn-hover) !important;
}

.form-container {
  background-color: var(--primary-color);
  padding-top: 4rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  border-radius: 2rem;
}

.form-section {
  text-align: left;
}



.footer-container {
  padding-top: 2rem;
  background-color: var(--primary-color);
  margin-top: 2rem;
  display: grid;
  align-items: center;
}

.footer-logo {
  justify-content: center;
  align-items: center;
  display: flex;
}
.footer-logo img {
  /* margin-left: 4rem; */
  width: 50%;
  height: auto;
}
.social {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin: 1rem 0;
}
.social img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.list-unstyled li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: 400;
  font-family: var(--secondry-font);
}

.row {
  width: 100%;
  text-align: center;
}

.row p {
  font-size: 20px;
  font-weight: 600;
  font-family: var(--primary-font);
}