:root {
  --primary-color: #edceab;
  --secondary-color: #800020;

  --primary-font: "Poppins", sans-serif;
  --secondry-font: "Work Sans", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Work+Sans&display=swap");
body {
  background-color: var(--primary-color) !important;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 8px;
}

/* Navbar CSS */

.navbar-color {
  background-color: var(--primary-color) !important;
}

.navbar img {
  width: 72px;
  height: 68px;
  mix-blend-mode: color-burn;
}

.navbar-title {
  font-size: 32px;
  letter-spacing: 5px;
  color: var(--secondary-color) !important;
  text-decoration: none;
  margin-left: -4rem;
}

.navbar-section {
  margin-left: 4rem;
  box-sizing: border-box;
}

.navbar-elements {
  display: flex;
  text-align: center;
  margin-top: 5px;
  color: var(--secondary-color) !important;
  text-decoration: none;
  margin-right: 3rem;
}
.container {
  max-width: 1200px; /* Adjust the max-width as needed */
  margin: 0 auto;
  padding: 20px;
  background-color: var(--secondary-color); /* Adjust the background color as needed */
}

.navbar-elements:hover {
  color: var(--primary-color);
}

.navbar-elements:focus {
  color: var(--secondary-color);
}

.navbar-elements h3 {
  font-size: 20px !important;
}

.navbar-btn {
  background-color: var(--btn-color) !important;
  width: 6rem !important;
  color: white !important;
  border-radius: 40px !important;
  margin-left: 1rem !important;
}

.navbar-btn:hover {
  background-color: var(--btn-hover) !important;
}

.form-container {
  background-color: white;
  padding-top: 4rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  border-radius: 2rem;
}

.form-section {
  text-align: left;
}
